<header class="bar bar-nav">
  <h1 class="title">{{this.title}}</h1>
</header>

<footer class="bar bar-standard bar-footer">
  <a id = "edit-tool" class="icon icon-compose pull-left"></a>
    <h5 class="title">{{this.footer.copyright}}</h5>
  <a id = "setting-tool" class="icon icon-gear pull-right"></a>
</footer>
